@model IEnumerable<hidMy.Models.InspectionDetails>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PremisesRef)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.officer)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GeneralHygieneStatus)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PremisesRef)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.officer)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GeneralHygieneStatus)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.InspectionNo }) |
            @Html.ActionLink("Details", "Details", new { id=item.InspectionNo }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.InspectionNo })
        </td>
    </tr>
}

</table>
