@model hidMy.Models.NationalPremisesRegister

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>NationalPremisesRegister</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubArea)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubArea)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SubBuildingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubBuildingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BuildingName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BuildingName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StreetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StreetName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Townland)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Townland)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Locality)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Locality)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CityTown)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CityTown)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.County)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.County)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Postcode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Postcode)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FoodBusinessOperators)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FoodBusinessOperators)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RiskCategory)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RiskCategory)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foodofficer)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foodofficer)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
